.menu {
  background: black;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.menu nav {
  float: center;
}

#lista1 {
  float: right;
  float: left;
}

.menu nav ul {
  list-style: none;
  overflow: hidden;
}

.menu nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.menu nav ul li a {
  display: block;
  padding: 40;
  color: #fff;
  text-decoration: none;
}

.contenido {
  padding-top: 200px;
}

.menu {
  width: 100%;
  margin: 20;
  overflow: hidden;
}

body {
  background-color: #FEDF22;
}

#logo {
  display: block;
  margin: auto;
}

#lista1 {
  font-family: Arial;
  font-weight: bold;
  font-size: 10px;
}

#lista1 li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: yellow;
}

#uno {
  font-style: bold;
  color: white;
  text-align: center;
  text-decoration: blink;
  background-color: black;
  border: 5px solid #ccc;
  padding: 0 1rem;
  margin: 1rem;
  width: 50em;
  border: 5px white solid;
  padding: 5px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}
#dos {
  font-style: bold;
  color: white;
  text-align: center;
  text-decoration: blink;
  background-color: black;
  border: 5px solid #ccc;
  padding: 0 1rem;
  margin: 1rem;
  width: 50em;
  border: 5px white solid;
  padding: 5px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}
#tres {
  font-style: bold;
  color: white;
  text-align: center;
  text-decoration: blink;
  background-color: black;
  border: 5px solid #ccc;
  padding: 0 1rem;
  margin: 1rem;
  width: 50em;
  border: 5px white solid;
  padding: 5px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}
#cuatro {
  font-style: bold;
  color: white;
  text-align: center;
  text-decoration: blink;
  background-color: black;
  border: 5px solid #ccc;
  padding: 0 1rem;
  margin: 1rem;
  width: 50em;
  border: 5px white solid;
  padding: 5px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}

#cinco {
  font-style: bold;
  color: white;
  text-align: center;
  text-decoration: blink;
  background-color: black;
  border: 5px solid #ccc;
  padding: 0 1rem;
  margin: 1rem;
  width: 50em;
  border: 5px white solid;
  padding: 5px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}
#seis {
  font-style: bold;
  color: white;
  text-align: center;
  text-decoration: blink;
  background-color: black;
  border: 5px solid #ccc;
  padding: 0 1rem;
  margin: 1rem;
  width: 50em;
  border: 5px white solid;
  padding: 5px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}

#siete {
  font-style: bold;
  color: white;
  text-align: center;
  text-decoration: blink;
  background-color: black;
  border: 5px solid #ccc;
  padding: 0 1rem;
  margin: 1rem;
  width: 50em;
  border: 5px white solid;
  padding: 5px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}
#ocho {
  font-style: bold;
  color: white;
  text-align: center;
  text-decoration: blink;
  background-color: black;
  border: 5px solid #ccc;
  padding: 0 1rem;
  margin: 1rem;
  width: 50em;
  border: 5px white solid;
  padding: 5px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}
#nueve {
  font-style: bold;
  color: white;
  text-align: center;
  text-decoration: blink;
  background-color: black;
  border: 5px solid #ccc;
  padding: 0 1rem;
  margin: 1rem;
  width: 50em;
  border: 5px white solid;
  padding: 5px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}
#diez {
  font-style: bold;
  color: white;
  text-align: center;
  text-decoration: blink;
  background-color: black;
  border: 5px solid #ccc;
  padding: 0 1rem;
  margin: 1rem;
  width: 50em;
  border: 5px white solid;
  padding: 5px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}
#once {
  font-style: bold;
  color: white;
  text-align: center;
  text-decoration: blink;
  background-color: black;
  border: 5px solid #ccc;
  padding: 0 1rem;
  margin: 1rem;
  width: 50em;
  border: 5px white solid;
  padding: 5px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}

#boton{
  background-color: yellow;
  border-color: black;
}
  #abajo {
    background-color: #FEDF22;
    float: right;
  }

